$primary:   #ff1e1e;
$secondary: #121212;
$white:     #fff;
$red:       #ED3024;
$blue:      #3137C9;


$bp-1600: 1600px;
$bp-1440: 1440px;
$bp-1360: 1360px;
$bp-1240: 1240px;
$bp-1200: 1200px;
$bp-1024: 1024px;
$bp-992: 992px;
$bp-820: 820px;
$bp-768: 768px;
$bp-640: 640px;
$bp-600: 600px;
$bp-520: 520px;
$bp-425: 425px;
$bp-375: 375px;