.broadcast {

    background-repeat: no-repeat;
    background-position: center;
    max-width: 1920px;
    margin: 0 auto;
    background-size: cover;
    padding: 100px 0 124px;
    @include breakpoint($bp-1360) {
        padding: 100px 80px 124px;
    }
    @include breakpoint($bp-1024) {
        padding: 100px 40px;
    }
    @include breakpoint($bp-768) {
        padding: 70px 20px;
    }
    &__container {
        max-width: 1140px;
        margin: 0 auto;
    }
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 140%;
        text-transform: uppercase;
        color: #002E5E;
        margin-bottom: 20px;
    }
    &__video-title {
        font-size: 20px;
        line-height: 120%;
        color: #000000;
        margin-bottom: 12px;
    }
    &__video {
        max-width: 840px;
        background: #fff;
        overflow: hidden;
        border-radius: 5px;
        @include breakpoint($bp-1280) {
            max-width: 700px;
            margin: 0 auto;
        }
    }
    &__block {
        @include breakpoint($bp-1280) {
            width: 100%;
        }
        &:first-child {
            width: 75%;
            @include breakpoint($bp-1280) {
                width: 100%;
            }
        }
    }
    &__info {
        padding: 20px 40px;
        @include breakpoint($bp-768) {
            padding: 10px 15px;
        }
    }
    &__bold {
        font-weight: bold;
    }
    &__href {           
        font-size: 20px;
        line-height: 120%;
        color: #1b75bb;
        text-decoration: none;
        font-weight: bold;
    }
    &__group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
        @include breakpoint($bp-1440) {
            justify-content: center;
        }
    }
    &__subtitle {
        font-weight: bold;
        font-size: 28px;
        line-height: 140%;
        color: #002E5E;
        margin-bottom: 30px;
    }
    &__blocks {
        display: flex;
        flex-direction: column;
        column-gap: 16px;
        row-gap: 16px;
        max-width: 540px;
        @include breakpoint($bp-1440) {
            max-width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__min-block {
        max-width: 300px;
        min-width: 280px;
        width: 100%;
        padding: 22px 20px 23px 20px ;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

    }
    &__min-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 30px;
        background: rgba($color: #fff, $alpha: 0.2);
        border-radius: 47px;
        color: #fff;
        position: relative;
        z-index: 2;
        &::after {
            display: block;
            content: '';
            background-image: url(../images/btn-min.svg);
            width: 8px;
            height: 10px;
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translateY(-4px);
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__min-block-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: #FFFFFF;
        position: relative;
        z-index: 2;
    }
    &__video-img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__block-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
    }
    &__elem {
        margin-bottom: 10px;
        padding: 0 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #C0C0C0;
        &:last-child {
            border-bottom: none;
        }
        @include breakpoint($bp-520) {
            flex-direction: column;
        }
    }
    &__name {
        font-weight: bold;
        font-size: 12px;
        line-height: 120%;
        text-transform: uppercase;
        color: #000000;
        max-width: 80%;
        @include breakpoint($bp-992) {
            max-width: 70%;
        }
        @include breakpoint($bp-520) {
            max-width: 100%;
            margin-bottom: 10px;
        }

    }
    &__btn {
        width: 120px;
        height: 35px;
        background: #F41921;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__group-info {
        padding: 0 40px;
        @include breakpoint($bp-992) {
            padding: 0 15px;
        }
    }
}
.min-block-1 {
    background: url(../images/broadcast1.jpg);
    background-repeat: no-repeat;
}
.min-block-2 {
    background: url(../images/broadcast2.jpg);
    background-repeat: no-repeat;
}
.min-block-3 {
    background: url(../images/broadcast3.jpg);
    background-repeat: no-repeat;
}
.min-block-4 {
    background: url(../images/broadcast4.jpg);
    background-repeat: no-repeat;
}
.min-block-5 {
    background: url(../images/broadcast5.jpg);
    background-repeat: no-repeat;
}
.min-block-6 {
    background: url(../images/broadcast6.jpg);
    background-repeat: no-repeat;
}
.broadcast__video-player {
    width: 100%;
    height: 472px;
    @include breakpoint($bp-1280) {
        height: 393px;
    }
    @include breakpoint($bp-768) {
        height: 350px;
    }
    @include breakpoint($bp-640) {
        height: 300px;
    }
    @include breakpoint($bp-425) {
        height: 192px;
    }
    @include breakpoint($bp-375) {
        height: 166px;
    }
}
.min__block-active {
    position: relative;
    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background: #1250a1;
        background-blend-mode: multiply;
        box-shadow: 0px 0px 14px 2px rgba(60, 220, 255, 0.51);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;

    }
}