.btn {
    background: #F41921;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    max-width: 340px;
    height: 80px;
    width: 100%;
    border: none;
    outline: none;
    position: relative;
    margin-top: 28px;
    margin-bottom: 48px;
    font-family: 'Circe';
    @include breakpoint($bp-520) {
        max-width: 335px;
        height: 60px;
        margin-bottom: 40px;
    }
    a {
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: 'Circe';
        text-decoration: none;
    }
}
.btn::after {
    display: block;
    content: '';
    background-image: url(../images/btn__after.svg);
    width: 92px;
    height: 12px;
    position: absolute;
    top: 34px;
    right: -124px;
    @include breakpoint($bp-520) {
       display: none;
    }
}
.btn__description {
    width: 180px;
    height: 40px;
    background: #F5F5F5;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #8C8C8C;
    border: none;
    outline: none;
    font-family: 'Circe';
    a {
        text-decoration: 0;
        font-size: 16px;
        color: #8C8C8C;
        line-height: 24px;
    }
    &:hover {
        opacity: 0.8;
    }
    @include breakpoint($bp-520) {
        position: relative;
       &::after {
        display: block;
        content: '';
        background-image: url(../images/btn__after-2.svg);
        width: 56px;
        height: 8px;
        position: absolute;
        top: 50%;
        transform: translateY(-8px);
        right: -155px;
       }
    }
    &_eng {
        height: 45px;
        font-size: unset;
        line-height: unset;
    }

}
.btn__speakers {
    background: #0073B8;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    margin: 44px auto 0;
    max-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    &::after {
        display: none;
    }
    &:hover {
        opacity: 0.8;
    }

}
#embeddedApp {
    color: #000!important;
}
.click-architecture_eng {
    font-size: 14px!important;
    line-height: 120%!important;
}