.description {
    background-image: url(../images/description__bg.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1920px;
    padding: 0 40px;
    margin: 0 auto;
}
.description__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 0 100px;
    @include breakpoint($bp-1024) {
        padding: 50px 0 50px;
    }  
}
.description__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 34px;
}
.description__text {
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    max-width: 821px;
    margin-bottom: 10px;
}
.description__text-bold {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.description__list {
    margin-left: 30px;
    margin-bottom: 30px;
    li {
        font-weight: bold;
        font-size: 16px;
        list-style: disc;
        line-height: 120%;
    }
}
.description__group {
    display: flex;
}
.description__text-group {
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    max-width: 380px;
    margin-right: 11px;
}