.footer {
    background: #002E5E;
    padding: 0 40px;
    @include breakpoint($bp-768) {
        padding: 0 20px;
    }
}
.footer__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 96px 0 26px;
    display: flex;
    justify-content: space-between;
}
.footer__img {
    max-width: 100%;
    margin-right: 98px;
    height: 60px;
    @include breakpoint($bp-768) {
        margin-right: 20px;
    }
    @include breakpoint($bp-520) {
        margin-bottom: 30px;
        max-width: 230px;
    }
}
.footer__content-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    max-width: 700px;
    margin-bottom: 36px;
    @include breakpoint($bp-768) {
        font-size: 16px;
    }
}
.footer__content-middle {
    display: flex;
    flex-direction: column;
    @include breakpoint($bp-520) {
        flex-direction: column;
    }
}
.footer__content-block {
    display: flex;
}
.footer__content-info {
    margin-right: 60px;
    @include breakpoint($bp-520) {
        margin-bottom: 20px;
    }
}
.footer__content-info:last-child {
    margin-right: 0;
    margin-bottom: 0px;
}
.footer__a{
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__copyright {
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}
.footer__info_bottom {
    margin-bottom: 16px;
    text-align: right;
}
.footer__content-bottom {
    margin-bottom: 34px;
}