.main {
    background-image: url(../images/main__bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1920px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
    @include breakpoint($bp-1600) {
        padding: 0 162px;
        background-image: url(../images/main__bg-1600.jpg);
        background-size: cover;
    } 
    @include breakpoint($bp-1360) {
        padding: 0 80px;
    } 
    @include breakpoint($bp-1024) {
        padding: 0 40px;
    } 
    @include breakpoint($bp-768) {
        padding: 0 40px 0px;
        background-size: cover;
        background-position: 0%;
    }  
    @include breakpoint($bp-520) {
        padding: 0 20px 0px;
        background-image: url(../images/main__mobile-bg.svg);
    }
    &_eng {
        background-image: url(../images/main__bg_eng.jpg);
        background-size: cover;
    }
}
.main__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 0 65px;
    @include breakpoint($bp-1600) {
        padding: 80px 0 80px;
    } 
    @include breakpoint($bp-768) {
        padding: 50px 0 50px;
    }  
    @include breakpoint($bp-520) {
        padding: 16px 0 40px;
    }
    &_eng {
        padding: 62px 0 50px;
        display: flex;
    }
}
.main__text-mobile {
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #F41921;
    margin: 20px 0 16px;
    display: none;
    @include breakpoint($bp-768) {
        display: block;
        position: relative;
        &::after {
            display: block;
            content: '';
            background-image: url(../images/main__text-mobile-after.svg);
            width: 56px;
            height: 8px;
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-8px);
        }
    } 
    @include breakpoint($bp-520) {
        margin: 0px 0 16px;
    }
}
.main__title {
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
    max-width: 580px;
    @include breakpoint($bp-520) {
        font-size: 28px;
        line-height: 140%;
        max-width: 335px;
    }
}
.main__subtitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #002E5E;
    margin-bottom: 20px;
    @include breakpoint($bp-520) {
        font-size: 28px;
        line-height: 41px;
    }
}
.main__text {
    max-width: 580px;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-bottom: 12px;

    @include breakpoint($bp-520) {
        font-size: 14px;
        margin-bottom: 12px;
    }
}

.main__blocks {
    display: flex;
    align-items: center;
    @include breakpoint($bp-768) {
        flex-direction: column;
        align-items: flex-start;
    }  
    &_eng {
        align-items: unset;
    }
}
.main__block  {
    max-width: 300px;
    margin-right: 28px;
    @include breakpoint($bp-768) {
        margin-right: 0;
        margin-bottom: 16px;
    }
}
.main__block:last-child {
    margin-left: 28px;
    @include breakpoint($bp-768) {
        margin-left: 0;
        margin-top: 16px;
    }
}
.main__block-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
}
.main__block-info {
    display: flex;
}
.main__block-text {
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}
.main__block-img {
    width: 100%;
    max-width: 32px;
    max-height: 32px;
    margin-right: 8px;
}
.main__block-line {
    width: 1px;
    height: 63px;
    background-color: #000000;
    @include breakpoint($bp-768) {
        width: 310px;
        height: 1px;
    }
}
.main__info {
    max-width: 736px;
    width: 100%;
    height: 135px;
    background: #fff;
    padding: 20px 0 20px 32px;
    position: absolute;
    right: 0;
    bottom: 125px;
    filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.05));
    @include breakpoint($bp-1440) {
        max-width: 500px;
        bottom: -20px;
    }  
    @include breakpoint($bp-768) {
        bottom: 30px;
    }  
}
.main__info::before {
    display: block;
    content: '';
    width: 26px;
    background-color: #0073B8;
    height: 135px;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    top: 0;
    left: -26px;
}

.main__info-title {
    font-size: 24px;
    line-height: 120%;
    color: #0073B8;
    margin-bottom: 12px;
    max-width: 428px;
}
.main__info-bold {
    font-weight: bold;
    display: inline-block;
}
.main__info-link {
    font-size: 17px;
    line-height: 25px;
    color: #8C8C8C;
    text-decoration: none;
}
.main__logo-mobile {
    max-width: 220px;
    width: 100%;
    display: none;
    @include breakpoint($bp-768) {
        display: block;
    } 
    @include breakpoint($bp-520) {
        max-width: 156px;
        margin-bottom: 20px;
    }
}
.main__text-bold {
    font-weight: bold;
}
.main__container-text {
    margin-left: 150px;
    margin-top: 100px;
    text-align: center;
    @include breakpoint($bp-1600) {
        margin-left: 2%;
        margin-top: 140px;
    }
    @include breakpoint($bp-1440) {
        position: absolute;
        left: 53%;
    }
    @include breakpoint($bp-1024) {
        left: 55%;
    }
    @include breakpoint($bp-768) {
        display: none;
    }
}
.main__container-year {
    color: #F41921;
    font-size: 14px;
    font-weight: bold;
}
.main__container-date {
    font-size: 26px;
    line-height: 100%;
    color: #002E5E;
    font-weight: bold;
}
.main__container-month {
    color: #002E5E;
}