.map {
    max-width: 1140px;
    margin: 0 auto 50px;
    @include breakpoint($bp-1600) {
        padding: 0px;
        margin: 0 auto 0px;
    } 

    &__title {
        font-family: 'Circe';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 140%;
        text-transform: uppercase;
        color: #002E5E;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        @include breakpoint($bp-768) {
            flex-direction: column;
            padding: 0 20px;
        }
        
    }
    &__button {
        border-radius: 5px 0px 0px 5px;
        width: 140px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: none;
        font-family: 'Circe';
        color: #00305B;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            background: #F3F9FC;
            color: #608BB3;
        }
    }
    &__toggle {
        display: flex;
        @include breakpoint($bp-768) {
            margin-top: 20px;
        }
    }
    &__russian {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @include breakpoint($bp-1240) {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 30px;
        }
        @include breakpoint($bp-425) {
            align-items: center;
         }
    }
    &__world {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @include breakpoint($bp-1240) {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 30px;
        }
        @include breakpoint($bp-425) {
            align-items: center;
         }
    }

}
.map-mobile {
    @include breakpoint($bp-992) {
        width: 100%;
        overflow: auto;
    }
}
.map-region {
    cursor: pointer;
}
.map-color-active {
    fill: #1B75BB;
}
.map-active {
    background: #F3F9FC;
    color: #608BB3;
}
.d-none {
    display: none;
}
.elements {
    &__info {
        width: 261px;
        height: auto;
        background: #fff;
        border-radius: 5px;
        padding: 60px 20px 50px;
        filter: drop-shadow(0px 2px 30px rgba(0, 0, 0, 0.15));
    }
    &__info-world {
        width: 261px;
        height: auto;
        background: #fff;
        border-radius: 5px;
        padding: 60px 20px 50px;
        filter: drop-shadow(0px 2px 30px rgba(0, 0, 0, 0.15));
    }
    &__title {
        font-size: 18px;
        line-height: 120%;
        color: #000000;
        font-weight: bold;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 16px;
        line-height: 120%;
        color: #000000;
        margin-bottom: 15px;
    }
    &__subtitle-key {
        font-size: 16px;
        line-height: 120%;
        color: #1B75BB;
        margin-bottom: 4px;
    }
    &__subtitle-arrays {
        font-size: 12px;
        line-height: 120%;
        color: #000000;
        margin-bottom: 15px;
    }
    &__subtitle-key-2 {
        font-size: 16px;
        line-height: 120%;
        color: #1B75BB;
        margin-bottom: 4px;
    }
    &__subtitle-arrays-2 {
        font-size: 12px;
        line-height: 120%;
        color: #000000
    }
}
path {
    cursor: pointer;
}