.partner {
    max-width: 1440px;
    margin: 0 auto;
}
.partner__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: #002E5E;
    margin-bottom: 42px;
}
.partner__img {
    max-width: 100%;
    margin-bottom: 68px;
}
.partner__img-one {
    max-width: 100%;
    @include breakpoint($bp-520) {
        max-width: 200px;
    } 
}
.partner__subtitle {
    font-weight: bold;
    font-size: 28px;
    line-height: 140%;
    color: #002E5E;
    margin-bottom: 28px;
}
.partner__blocks {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 32px;
    @include breakpoint($bp-520) {
        justify-content: space-between;
    }
}