<footer class="footer">
    <div class="footer__container">
        <div class="footer__content-top">
            <img src="assets/images/footer-logo-eng.svg" alt="" class="footer__img">
        </div>
        <div class="footer__content-middle">
            <p class="footer__text">
                Russian Export Center JSС is a State-owned specialized development institute established by the Government to support national export.
            </p>
            <div class="footer__content-block">
                <div class="footer__content-info">
                    <a href="tel:+74959374747" class="footer__a">+7 (495) 937 47 47</a>
                    <p class="footer__info">
                        Mon-Fri: from 9.00 a.m. to 18.00 p.m.
                    </p>
                </div>
                <div class="footer__content-info">
                    <a href="mailto:info@exportcenter.ru" class="footer__a">info@exportcenter.ru</a>
                    <p class="footer__info">
                        12, Krasnopresenskaya Embankment, entrance 9, 123610, Moscow
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__content-bottom">
            <p class="footer__info footer__info_bottom">
                Find out about One window
            </p>
            <img src="assets/images/qr.png" alt="" class="footer__qr">
        </div>
    </div>
    <p class="footer__copyright">
        © 2020—2021 All rights reserved    
    </p>
</footer>
