<footer class="footer">
    <div class="footer__container">
        <div class="footer__content-top">
            <img src="assets/images/footer-logo.png" alt="" class="footer__img">
        </div>
        <div class="footer__content-middle">
            <p class="footer__text">
                АО «Российский экспортный центр» государственный специализированный институт по поддержке национального экспорта
            </p>
            <div class="footer__content-block">
                <div class="footer__content-info">
                    <a href="tel:+74959374747" class="footer__a">+7 (495) 937 47 47</a>
                    <p class="footer__info">
                        Пн. – Пт.: с 9:00 до 18:00
                    </p>
                </div>
                <div class="footer__content-info">
                    <a href="mailto:info@exportcenter.ru" class="footer__a">info@exportcenter.ru</a>
                    <p class="footer__info">
                        123610, Москва, Краснопресненская наб.д 12, подъезд 9
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__content-bottom">
            <p class="footer__info footer__info_bottom">
                Узнай про Одно окно
            </p>
            <img src="assets/images/qr.png" alt="" class="footer__qr">
        </div>
    </div>
    <p class="footer__copyright">
        © 2020—2021 Все права защищены           
    </p>
</footer>
