<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5V353S8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src="assets/images/header__img-1.svg" alt="" class="header__img">
            <img src="assets/images/header__img-2.svg" alt="" class="header__img header__img-mobile">
        </div>
        <div class="header__group">
            <div class="header__checkbox">
                <p class="header__chekbox-language">
                    РУ
                </p>
                <label class="checkbox-ios">
                    <input type="checkbox" id="checkbox" >
                    <span class="checkbox-ios-switch"></span>
                </label>
                <p class="header__chekbox-language header__chekbox-language_opaciy">
                    ENG
                </p>
            </div>
            <div class="menu-burger__header">
                <span></span>
            </div>
        </div>
        <div class="header-content__mobile">
            <ul class="header-ul__mobile">
                <li class="preheader__item preheader__item-mobile">
                    <a href="" id="about-click" class="preheader__link">О форуме</a>
                </li>
                <li class="preheader__item preheader__item-mobile">
                    <a href="" id="programm-click" class="preheader__link">Программа</a>
                </li>
                <li class="preheader__item preheader__item-mobile">
                    <a href="" id="speakers-click" class="preheader__link">Спикеры</a>
                </li>
                <li class="preheader__item preheader__item-mobile">
                    <a href="" id="gallery-click" class="preheader__link">Фотовыставка</a>
                </li>
                <li class="preheader__item preheader__item-mobile">
                    <a href="" id="partners-click" class="preheader__link">Партнеры</a>
                </li>
                <li class="preheader__item preheader__item-mobile">
                    <a href="https://madeinrussia.accredcenter.ru/personal/" class="preheader__link">Личный кабинет</a>
                </li>
            </ul>
        </div>
    </div>
</header>
