<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5V353S8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src="assets/images/header__img-1.svg" alt="" class="header__img">
            <img src="assets/images/header__img-2.svg" alt="" class="header__img header__img-mobile">
        </div>
        <div class="header__checkbox">
            <p class="header__chekbox-language">
                РУ
            </p>
            <label class="checkbox-ios">
                <input type="checkbox" id="checkbox" >
                <span class="checkbox-ios-switch"></span>
            </label>
            <p class="header__chekbox-language header__chekbox-language_opaciy">
                ENG
            </p>
        </div>
    </div>
</header>
